<div id="createMessageBtnDiv">
  <% if (user) { %>
  <button id="createMessageBtn">Create Message</button>
  <% } else { %>
  <h2 id="logInAlertHeader">Log In to Send Messages</h2>
  <% } %>
</div>

<form action="/send-message" id="sendMessageForm" method="POST" novalidate>
  <fieldset>
    <legend>Send New Message</legend>

    <textarea
      name="message"
      placeholder="Write your message here..."
      maxlength="250"
      required
    ></textarea>

    <div id="messageFormActions">
      <button id="closeFormBtn" type="button">Close</button>
      <button type="submit">Submit</button>
    </div>
  </fieldset>
</form>

<div class="messages-container">
  <h2>Messages</h2>
  <div>
    <ul>
      <% if (messages && messages.length > 0) { %> <%
      messages.forEach(function(message) { %>
      <li
        class="<%= user ? (user.membership_status ? 'member message' : 'basic message') : 'basic message' %> <%= user && message.user_id === user.id ? 'self' : 'other' %>"
      >
        <div>
          <div class="topMessageDiv">
            <div>
              <strong>
                <% if (!user) { %> Must be Member to View <% } else if
                (message.user_id !== user.id && !user.membership_status) { %>
                Must be Member to View <% } else { %> <%= message.first_name %>
                <%= message.last_name %> <% } %>
              </strong>
            </div>
            <div class="deleteMessageDiv">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="delete-icon"
                id="<%= message.message_id %>"
                style="display: <%= (!user || (!user.is_admin && user.id !== message.user_id)) ? 'none' : 'block' %>;"
              >
                <title>delete</title>
                <path
                  d="M18,19C18,20.66 16.66,22 15,22H8C6.34,22 5,20.66 5,19V7H4V4H8.5L9.5,3H13.5L14.5,4H19V7H18V19M6,7V19C6,20.1 6.9,21 8,21H15C16.1,21 17,20.1 17,19V7H6M18,6V5H14L13,4H10L9,5H5V6H18M8,9H9V19H8V9M14,9H15V19H14V9Z"
                />
              </svg>
            </div>
          </div>
          <p><%= message.message_content %></p>
          <div class="bottomMessageDiv">
            <small>Sent:</small>
            <small>
              <% if (!user) { %> Must be Member to View <% } else if
              (message.user_id !== user.id && !user.membership_status) { %> Must
              be Member to View <% } else { %> <%= message.formattedTime %> -
              <%= message.formattedDate %> <% } %>
            </small>
          </div>
        </div>
      </li>
      <% }) %> <% } else { %>
      <p>No messages yet.</p>
      <% } %>
    </ul>
  </div>
</div>
<script src="/scripts/index.js" type="module"></script>
