<div>
  <form action="/sign-up" method="POST">
    <fieldset>
      <legend>Register</legend>

      <div>
        <label for="firstName">First Name:</label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          value="<%= data ? data.firstName : '' %>"
          required
        />
        <% if (errors && getError(errors, 'firstName')) { %>
        <div class="error"><p><%= getError(errors, 'firstName') %></p></div>
        <% } %>
      </div>

      <div>
        <label for="lastName">Last Name:</label>
        <input
          type="text"
          id="lastName"
          name="lastName"
          value="<%= data ? data.lastName : '' %>"
          required
        />
        <% if (errors && getError(errors, 'lastName')) { %>
        <div class="error"><p><%= getError(errors, 'lastName') %></p></div>
        <% } %>
      </div>

      <div>
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          value="<%= data ? data.email : '' %>"
          required
        />
        <% if (errors && getError(errors, 'email')) { %>
        <div class="error"><p><%= getError(errors, 'email') %></p></div>
        <% } %>
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <% if (errors && getError(errors, 'password')) { %>
        <div class="error"><p><%= getError(errors, 'password') %></p></div>
        <% } %>
      </div>

      <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
        <% if (errors && getError(errors, 'confirmPassword')) { %>
        <div class="error">
          <p><%= getError(errors, 'confirmPassword') %></p>
        </div>
        <% } %>
      </div>

      <div>
        <label for="adminCode">Admin Code (Optional):</label>
        <input type="password" id="adminCode" name="adminCode" />
      </div>

      <button type="submit">Submit</button>
    </fieldset>
  </form>
</div>
